<!DOCTYPE html>
<html>
<head>
    <title>Check Laptop IP Address</title>
</head>
<body>
    <h1>Check Laptop IP Address</h1>
    
    <p>Follow these steps to check the IP address of your laptop:</p>
    <ol>
        <li>Click on the Wi-Fi icon in the system tray or taskbar.</li>
        <li>Select your Wi-Fi network from the list of available networks.</li>
        <li>Click on "Properties" or "Advanced settings" (depending on your operating system).</li>
        <li>Look for the "IPv4 Address" or "IP Address" field in the network settings.</li>
        <li>Note down the IP address displayed.</li>
        <li>Place it on the app input box</li>
    </ol>
    
    <p>Once you have the IP address, you can use it for various purposes, such as connecting to local servers, troubleshooting network issues, or accessing network resources.</p>
</body>
</html>
